/*
    Theme Name: Portfolio
    Theme URI: http://wordpress.local
    Author: Kim Vinqueur
    Author URI: http://wordpress.local
    Description: Le thème de Kim Vinqueur
    Version: 1.0
    Tags: blue, orange, light, three-columns, left-sidebar, responsive-layout, editor-style, featured-images, full-width-template, sticky-post, theme-options, translation-ready, accessibility-ready
 */

span.required {
    color: #ff0000;
}

div.wpcf7-validation-errors {
    color: #a94442;
    background-color: #f2dede;
    border: 2px solid #ebccd1;

}